/***************************** Tag Selectors *****************************/
a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    padding: 5px 25px 5px 25px;
    color: #118488;
}

a:hover{
    color: #EAF6F6;
}

body{
    margin: 0px;
    border-style: none;
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #40514E;
}

h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 4rem; /*100% = 16px; 400% = 64px; Also 16px = 100% = 1em*/
    color: #66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #66BFBF;
}

h3{
    color: #66BFBF;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

hr{
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-width: 6px;
    color: #EAF6F6;
    margin: 5px auto 5px auto;
}

p{
    line-height: 2;
}

/***************************** Class Selectors *****************************/

.bottom-container{
    background-color: #66BFBF;
    padding: 30px 0 30px 0;
    color: #EAF6F6;
    font-family: 'Montserrat', sans-serif;
}

.bottom-cloud{
    position: absolute;
    bottom: 55%;
    left: 25%;
}

/*
.btn{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;

    background-color: #4bb7b7;
    color: #EAF6F6;
}
*/

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.contact-me{
    padding: 50px 0 50px 0;
}

.contact-msg{
    width: 40%;
    margin: 40px auto 60px auto;
}
.copyright{
    color:#EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0; /* For 2 value: Top & Bottom  Left & Right */
}

.profile{
    padding: 50px 0 50px 0;
}

.middle-container-text{
    padding-top: 15px;
    width: 40%;
    margin: auto;
}


/* .skill-desc1{

    clear: left; "clear" Prevents image from wrapping around the text. Since "clear: left" is used so this property won't allow anything to be wrapped to the left.

    margin-top: 20px;
}
*/
   
.skills{
    padding: 50px 0 50px 0;
}

.skill-img1{
    width: 150px;;
    border-radius: 50%; 
    float: left;  /* To wrap text to the right of the image thus the image is floating to the left of the image. So "float: left" is used. */
    margin-right: 30px;  
}

.skill-img2{
    width: 150px;;
    border-radius: 50%;
    float: right;
    margin-left: 30px;  
}

.skill-row{
    padding: 30px;
    width: 50%;
    margin: 20px auto 20px auto;
    text-align: justify;
}

.top-container{
    background-color:rgb(238, 253, 255);
    height: 100%;
    margin: 0px;
    padding: 100px 20px 70px 20px;
    text-align: center;
    position: relative;
}


.top-cloud{
    position: absolute;
    top: 12%;
    right: 25%;
}

/***************************** Id Selectors *****************************/

#aProgrammer{
    font-size: 2rem;
    margin: 1rem auto 1rem auto;
}

#dp{
    height: 200px;
    padding: 20px 0 20px 0;
}

